<?xml version="1.0"?>
<launch>


    <node pkg="rosbag" type="record" name="rosbag_record_cam"
    args="record -o /home/robot/ /bluetooth_teleop/cmd_vel /bluetooth_teleop/joy
/camera/camera_info
/camera/image_raw/compressed
/cmd_drive
/cmd_vel
/diagnostics
/diagnostics_agg
/diagnostics_toplevel_state
/done
/e_stop
/feedback
/imu/data
/imu/data_raw
/imu/mag
/imu_data_str
/initialpose
/jackal_velocity_controller/cmd_vel
/jackal_velocity_controller/odom
/jackal_velocity_controller/parameter_descriptions
/jackal_velocity_controller/parameter_updates
/joint_states
/joy_teleop/cmd_vel
/master_discovery/changes
/master_discovery/linkstats
/move_base/current_goal
/move_base/goal
/move_base_simple/goal
/navsat/fix
/navsat/nmea_sentence
/navsat/time_reference
/navsat/vel
/odometry/filtered
/operational
/optris/camera_info
/optris/flag_state
/optris/image_color/compressed
/output
/set_pose
/status
/stopScanOutput
/stopScanProgress
/stopScanRequest
/tf
/tf_static
/time_reference
/twist_marker_server/cmd_vel
/twist_marker_server/feedback
/twist_marker_server/update
/twist_marker_server/update_full
/unit_driver/current_angle
/unit_driver/current_timestamp
/unit_driver/progress
/unit_driver/velocity
/velocity
/velodyne_nodelet_manager_cloud/parameter_descriptions
/velodyne_nodelet_manager_cloud/parameter_updates
/velodyne_nodelet_manager_driver/parameter_descriptions
/velodyne_nodelet_manager_driver/parameter_updates
/velodyne_points
/wifi_connected" />



</launch>
